footer.footer
  .container-fluid
    .row
      .col-sm-6
        script.
          document.write(new Date().getFullYear())
        |  &copy; Nazox.
      .col-sm-6
        .text-sm-right.d-none.d-sm-block
          | Crafted with
          i.mdi.mdi-heart.text-danger
          |  by Themesdesign
