header.main-header
  // /.topbar
  .topbar
    .container
      .topbar__left
        p Bienvenido a Agrolab
      // /.topbar__left
      .topbar__right
        a(href='mailto:info@agroambiental-lab.com')
          i.agrikon-icon-email
          | info@agrolab.com
        a(href='javascript:void(0)')
          i.agrikon-icon-clock
          | Lun - Vie 8:00 - 17:00, Sab 8:00 - 12:00
  nav.main-menu
    .container
      .logo-box
        a(href='/' aria-label='logo image')
          img(src='/images/agroambiental/logo-agroambientalHeader.png' height='70' alt='')
        span.fa.fa-bars.mobile-nav__toggler
      // /.logo-box
      ul.main-menu__list#nav
        li
          a(href=`${title=='Home'?'#':'/'}`) Inicio
        li
          a(href=`${title=='Home'?'#aboutUs':'/#aboutUs'}`) Sobre nosotros
        li
          a(href=`${title=='Home'?'#matrix':'/#matrix'}`) Nuestros Servicios
        li.dropdown(class=title=='Services'?"current":"")
          a(href="/ingresar" target="_blank") Acceso
.stricky-header.stricked-menu.main-menu
  .sticky-header__content