header#page-topbar
  .navbar-header
    .d-flex
      // LOGO
      .navbar-brand-box.d-block
        a.logo.logo-dark(href= ( user && user.type== 0) ? '/admin/panel' : ( (user && user.type == 1) ? '/analista/muestras' : '/secretaria/muestras'))
          span.logo-sm
            img(src='/images/agroambiental/logo-agroambiental.png', alt='', height='45')
          span.logo-lg
            img(src='/images/agroambiental/logo-agroambiental.png', alt='', height='40')
        a.logo.logo-light(href= ( user && user.type== 0) ? '/admin/panel' : ( (user && user.type == 1) ? '/analista/muestras' : '/secretaria/muestras'))
          span.logo-sm
            img(src='/images/agroambiental/logo-agroambiental.png', alt='', height='45')
          span.logo-lg
            img(src='/images/agroambiental/logo-agroambiental.png', alt='', height='40')
    
    .d-flex.justify-content-end 
      .dropdown.d-inline-block.user-dropdown
        button#page-header-user-dropdown.btn.header-item.waves-effect(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          img.rounded-circle.header-profile-user(src='/images/agroambiental/agro-user.png', alt='Header Avatar')
          //span.d-inline-block.ml-1 #{ user.name }
          i.mdi.mdi-chevron-down.d-none.d-xl-inline-block
        .dropdown-menu.dropdown-menu-right
          if user && user.type==0
            a.dropdown-item(href='/admin/panel')
              i.ri-profile-line.align-middle.mr-1
              |  Panel
            .dropdown-divider
          if user && user.type==1
            a.dropdown-item(href='/analista/muestras')
              i.ri-profile-line.align-middle.mr-1
              |  Muestras
            .dropdown-divider
          else if user && user.type==2
            a.dropdown-item(href='/secretaria/muestras')
              i.ri-profile-line.align-middle.mr-1
              |  Muestras
            .dropdown-divider
          a.dropdown-item.text-danger(href='/salir')
            i.ri-shut-down-line.align-middle.mr-1.text-danger
            |  Salir