// ========== Left Sidebar Start ==========
.vertical-menu
  .h-100(data-simplebar='')
    // - Sidemenu
    #sidebar-menu
      // Left Menu Start
      ul#side-menu.metismenu.list-unstyled
        li.menu-title Menu
        li
          a.waves-effect(href='index.html')
            i.ri-dashboard-line
            span.badge.badge-pill.badge-success.float-right 3
            span Dashboard
        li
          a.waves-effect(href='calendar.html')
            i.ri-calendar-2-line
            span Calendar
        li
          a.waves-effect(href='apps-chat.html')
            i.ri-chat-1-line
            span Chat
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-store-2-line
            span Ecommerce
          ul.sub-menu(aria-expanded='false')
            li
              a(href='ecommerce-products.html') Products
            li
              a(href='ecommerce-product-detail.html') Product Detail
            li
              a(href='ecommerce-orders.html') Orders
            li
              a(href='ecommerce-customers.html') Customers
            li
              a(href='ecommerce-cart.html') Cart
            li
              a(href='ecommerce-checkout.html') Checkout
            li
              a(href='ecommerce-shops.html') Shops
            li
              a(href='ecommerce-add-product.html') Add Product
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-mail-send-line
            span Email
          ul.sub-menu(aria-expanded='false')
            li
              a(href='email-inbox.html') Inbox
            li
              a(href='email-read.html') Read Email
        li
          a.waves-effect(href='apps-kanban-board.html')
            i.ri-artboard-2-line
            span Kanban Board
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-layout-3-line
            span Layouts
          ul.sub-menu(aria-expanded='false')
            li
              a(href='layouts-horizontal.html') Horizontal
            li
              a(href='layouts-light-sidebar.html') Light Sidebar
            li
              a(href='layouts-compact-sidebar.html') Compact Sidebar
            li
              a(href='layouts-icon-sidebar.html') Icon Sidebar
            li
              a(href='layouts-boxed.html') Boxed Layout
            li
              a(href='layouts-preloader.html') Preloader
        li.menu-title Pages
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-account-circle-line
            span Authentication
          ul.sub-menu(aria-expanded='false')
            li
              a(href='auth-login.html') Login
            li
              a(href='auth-register.html') Register
            li
              a(href='auth-recoverpw.html') Recover Password
            li
              a(href='auth-lock-screen.html') Lock Screen
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-profile-line
            span Utility
          ul.sub-menu(aria-expanded='false')
            li
              a(href='pages-starter.html') Starter Page
            li
              a(href='pages-maintenance.html') Maintenance
            li
              a(href='pages-comingsoon.html') Coming Soon
            li
              a(href='pages-timeline.html') Timeline
            li
              a(href='pages-faqs.html') FAQs
            li
              a(href='pages-pricing.html') Pricing
            li
              a(href='pages-404.html') Error 404
            li
              a(href='pages-500.html') Error 500
        li.menu-title Components
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-pencil-ruler-2-line
            span UI Elements
          ul.sub-menu(aria-expanded='false')
            li
              a(href='ui-alerts.html') Alerts
            li
              a(href='ui-buttons.html') Buttons
            li
              a(href='ui-cards.html') Cards
            li
              a(href='ui-carousel.html') Carousel
            li
              a(href='ui-dropdowns.html') Dropdowns
            li
              a(href='ui-grid.html') Grid
            li
              a(href='ui-images.html') Images
            li
              a(href='ui-lightbox.html') Lightbox
            li
              a(href='ui-modals.html') Modals
            li
              a(href='ui-rangeslider.html') Range Slider
            li
              a(href='ui-roundslider.html') Round Slider
            li
              a(href='ui-session-timeout.html') Session Timeout
            li
              a(href='ui-progressbars.html') Progress Bars
            li
              a(href='ui-sweet-alert.html') Sweet Alerts
            li
              a(href='ui-tabs-accordions.html') Tabs &amp; Accordions
            li
              a(href='ui-typography.html') Typography
            li
              a(href='ui-video.html') Video
            li
              a(href='ui-general.html') General
            li
              a(href='ui-rating.html') Rating
            li
              a(href='ui-notifications.html') Notifications
        li
          a.waves-effect(href='javascript: void(0);')
            i.ri-eraser-fill
            span.badge.badge-pill.badge-danger.float-right 6
            span Forms
          ul.sub-menu(aria-expanded='false')
            li
              a(href='form-elements.html') Elements
            li
              a(href='form-validation.html') Validation
            li
              a(href='form-advanced.html') Advanced Plugins
            li
              a(href='form-editors.html') Editors
            li
              a(href='form-uploads.html') File Upload
            li
              a(href='form-xeditable.html') X-editable
            li
              a(href='form-wizard.html') Wizard
            li
              a(href='form-mask.html') Mask
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-table-2
            span Tables
          ul.sub-menu(aria-expanded='false')
            li
              a(href='tables-basic.html') Basic Tables
            li
              a(href='tables-datatable.html') Data Tables
            li
              a(href='tables-responsive.html') Responsive Table
            li
              a(href='tables-editable.html') Editable Table
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-bar-chart-line
            span Charts
          ul.sub-menu(aria-expanded='false')
            li
              a(href='charts-apex.html') Apexcharts
            li
              a(href='charts-chartjs.html') Chartjs
            li
              a(href='charts-flot.html') Flot
            li
              a(href='charts-knob.html') Jquery Knob
            li
              a(href='charts-sparkline.html') Sparkline
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-brush-line
            span Icons
          ul.sub-menu(aria-expanded='false')
            li
              a(href='icons-remix.html') Remix Icons
            li
              a(href='icons-materialdesign.html') Material Design
            li
              a(href='icons-dripicons.html') Dripicons
            li
              a(href='icons-fontawesome.html') Font awesome 5
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-map-pin-line
            span Maps
          ul.sub-menu(aria-expanded='false')
            li
              a(href='maps-google.html') Google Maps
            li
              a(href='maps-vector.html') Vector Maps
        li
          a.has-arrow.waves-effect(href='javascript: void(0);')
            i.ri-share-line
            span Multi Level
          ul.sub-menu(aria-expanded='true')
            li
              a(href='javascript: void(0);') Level 1.1
            li
              a.has-arrow(href='javascript: void(0);') Level 1.2
              ul.sub-menu(aria-expanded='true')
                li
                  a(href='javascript: void(0);') Level 2.1
                li
                  a(href='javascript: void(0);') Level 2.2
    // Sidebar
// Left Sidebar End
