.mobile-nav__wrapper
  .mobile-nav__overlay.mobile-nav__toggler
  // /.mobile-nav__overlay
  .mobile-nav__content
    span.mobile-nav__close.mobile-nav__toggler
      i.far.fa-times
    .logo-box
      a(href='/' aria-label='logo Agroambiental')
        img(src='/images/agroambiental/logo-white.png' height='100' alt='')
    // /.logo-box
    .mobile-nav__container
    // /.mobile-nav__container
    ul.mobile-nav__contact.list-unstyled
      li
        i.agrikon-icon-email
        a(href='mailto:info@agroambiental-lab.com') info@agroambiental-lab.com
      li
        i.agrikon-icon-telephone
        a(href='javascript:void(0)') 316 871 8691
    // /.mobile-nav__contact
    .mobile-nav__top
      // /.mobile-nav__language
      .mobile-nav__social
        a(href='https://www.facebook.com/Agroambiental-Lab-321711021361920' target="_blank" aria-label='facebook')
          i.fab.fa-facebook-square
        a(href='https://www.instagram.com/agroam1/' target="_blank" aria-label='instagram')
          i.fab.fa-instagram
      // /.mobile-nav__social
    // /.mobile-nav__top
