script(src='/libs/jquery/jquery.min.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.min.js')
script(src='/libs/metismenu/metisMenu.min.js')
script(src='/libs/simplebar/simplebar.min.js')
script(src='/libs/node-waves/waves.min.js')
