doctype html
head
  meta(charset='utf-8')
  title Agroambiental
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(content='Premium Multipurpose Admin & Dashboard Template', name='description')
  meta(content='Themesdesign', name='author')
  // App favicon
  link(rel='shortcut icon', href='/images/favicon.ico')
  // Bootstrap Css
  link#bootstrap-style(href='/css/bootstrap.css', rel='stylesheet', type='text/css')
  // Icons Css
  link(href='/css/icons.css', rel='stylesheet', type='text/css')
  // App Css
  link#app-style(href='/css/app.css', rel='stylesheet', type='text/css')
include ../partials/flash
// .home-btn.d-none.d-sm-block
  a(href='index.html')
    i.mdi.mdi-home-variant.h2.text-white
div
  .container-fluid.p-0
    .row.no-gutters
      .col-lg-4
        .authentication-page-content.p-4.d-flex.align-items-center.min-vh-100
          .w-100
            .row.justify-content-center
              .col-lg-9
                div
                  .text-center
                    div
                      a.logo(href='/')
                        img(src='/images/agroambiental/logo-agroambiental.png', alt='' style='height: 170px')
                    h4.font-size-18.mt-4 Recuperar Contraseña
                    p.text-muted Ingresa tu correo electrónico.
                  .p-2.mt-5
                    form.form-horizontal(method='POST' onsubmit=" return validateEmail(event)")
                      .form-group.auth-form-group-custom.mb-4
                        i.ri-mail-line.auti-custom-input-icon
                        label(for='useremail') Correo
                        input#useremail.form-control(type='email', name="email" placeholder='Correo electrónico' required)
                      .mt-4.text-center
                        button.btn.btn-primary.w-md.waves-effect.waves-light(type='submit') Recuperar
                  .mt-5.text-center
                    p
                      | ¿Ya tienes cuenta? 
                      a.font-weight-medium.text-primary(href='/ingresar')  Ingresar
      .col-lg-8
        .authentication-bg
          .bg-overlay
// JAVASCRIPT
script(src='/libs/jquery/jquery.min.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.min.js')
script(src='/libs/metismenu/metisMenu.min.js')
script(src='/libs/simplebar/simplebar.min.js')
script(src='/libs/node-waves/waves.min.js')
script(src='/js/app.js')
//SweetAlert
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@10")
script(src='/js/main.js')
