extends ../layouts/main
block content
  // ==============================================================
  // Start right Content here
  // ==============================================================
  .main-content
    .page-content
      .container-fluid
        // start page title
        .row
          .col-12
            .page-title-box.d-flex.align-items-center.justify-content-between
              h1.mb-0 Panel
        // end page title
        .row
          .col-xl-12
            .row
              .col-md-4
                a(href="/admin/analistas") 
                  .card
                    img.icon-dashboard--layout(src="/images/agroambiental/chemist.svg")
                    .card-body
                      h4.card-title
                        h5.card-title.text-center.font-icon--dashboard Analistas
              .col-md-4
                a(href="/admin/muestras") 
                  .card
                    img.icon-dashboard--layout(src="/images/agroambiental/chemistry.svg")
                    .card-body
                      h4.card-title
                        h5.card-title.text-center.font-icon--dashboard Muestras
