extends ../layouts/landing.pug
block content
  section.main-slider
    .swiper-container.thm-swiper__slider(data-swiper-options='{\
    "slidesPerView": 1,\
    "loop": true,\
    "effect": "fade",\
    "autoplay": {\
    "delay": 5000\
    },\
    "navigation": {\
    "nextEl": "#main-slider__swiper-button-next",\
    "prevEl": "#main-slider__swiper-button-prev"\
    }\
    }')
      .swiper-wrapper
        .swiper-slide
          .image-layer(style='background-image: url(/images/landing/carousel/1.webp);')
          // /.image-layer
          .container.h-80
            .row
              .col-xl-7.col-lg-7
                span.mb-3.tagline Bienvenidos!
                br
                h2
                  span AGROAMBIENTAL.LAB
                p
                  | Laboratorio de Análisis para el  sector Agropecuario y Ambiental.
                a.thm-btn(href='https://www.facebook.com/Agrolab-Lab-321711021361920' target="_blank") Descubre más
                // /.thm-btn dynamic-radius
              // /.col-lg-7 text-right
            // /.row
          // /.container
        // /.swiper-slide
        .swiper-slide
          .image-layer(style='background-image: url(/images/landing/carousel/2.webp);')
          // /.image-layer
          .container.h-80
            .row
              .col-xl-7.col-lg-7
                span.tagline Impulsando la productividad 
                  br
                  |                                         &amp; sostenibilidad ambiental
                h2
                  span AGROAMBIENTAL.LAB
                p
                  | Apoyamos el sector productivo agrícola para hacerlo más competitivo.
                a.thm-btn(href='https://www.instagram.com/agroam1/' target="_blank") Descubre más
                // /.thm-btn dynamic-radius
              // /.col-lg-7 text-right
            // /.row
          // /.container
        // /.swiper-slide
        .swiper-slide
          .image-layer(style='background-image: url(/images/landing/carousel/3.webp);')
          // /.image-layer
          .container.h-80
            .row
              .col-xl-7.col-lg-7
                span.tagline Calidad y compromiso 
                  br
                  | con el agro Colombiano
                h2
                  span AGROAMBIENTAL.LAB
                p
                  | Promovemos prácticas agrícolas y ambientales sostenibles.
                a.thm-btn(href='https://www.facebook.com/Agrolab-Lab-321711021361920' target="_blank") Descubre más
                // /.thm-btn dynamic-radius
              // /.col-lg-7 text-right
            // /.row
          // /.container
        // /.swiper-slide
      // /.swiper-wrapper
      // If we need navigation buttons
      .main-slider__nav
        #main-slider__swiper-button-next.swiper-button-prev
          i.agrikon-icon-left-arrow
        #main-slider__swiper-button-prev.swiper-button-next
          i.agrikon-icon-right-arrow
      // /.main-slider__nav
    // /.swiper-container thm-swiper__slider
  // /.main-slider
  section.service-one.mb-0
  section.about-one#aboutUs
    img.about-one__bg-shape-1(src='/images/icons/about-bg-icon-1-1.png' alt='')
    .container
      .row
        .col-lg-5
          .about-one__images
            img(src='/images/landing/welcome/1.webp' style="max-height:692px" alt='')
            img(src='/images/landing/welcome/2.webp' style="max-height:322px" alt='')
          // /.about-one__images
        // /.col-lg-6
        .col-lg-7
          .about-one__content
            .block-title.text-left
              .block-title__image
              // /.block-title__image

              h3
                | CIENCIA Y TECNOLOGÍA
                | DIRIGIDA AL CAMPO
            // /.block-title
            .about-one__tagline
              p Empresa Vallecaucana con 10 años de experiencia y fortalecimiento al sector agrícola
            // /.about-one__tagline
            .about-one__summery
              p En Agrolab.lab generamos condiciones y mejores oportunidades para el productor agrícola a través del acceso más ágil y eficiente a los servicios de análisis fisicoquímicos y microbiológicos de suelos, tejido vegetal y agua para riego.
            // /.about-one__summery
            .about-one__icon-row
              .row
                .col-lg-6
                  .about-one__box
                    img(src='/images/landing/welcome/partner.png', height='60' width='60' alt="")
                    h4
                      a(href='javascript:void(0)')
                        | Acompañamiento
                        | en Campo
                  // /.about-one__box
                // /.col-lg-6
                .col-lg-6
                  .about-one__box
                    img(src='/images/landing/welcome/impartial.png', height='60' width='60' alt="")
                    h4
                      a(href='javascript:void(0)')
                        | Independencia
                        | e Imparcialidad
                  // /.about-one__box
                // /.col-lg-6
              // /.row
            // /.about-one__icon-row
            a.thm-btn(href='https://www.facebook.com/Agrolab-Lab-321711021361920' target="_blank") Descubre más
            // /.thm-btn
          // /.about-one__content
        // /.col-lg-6
      // /.row
    // /.container
  // /.about-one
  section.service-two#ourServices
    .container
      .block-title.text-center.mb-5
        .block-title__image
        // /.block-title__image
        p ¿Qué ofrecemos?
        h3 NUESTRO PORTAFOLIO DE SERVICIOS
      // /.block-title
      .row
        .col-sm-12.col-md-6.col-lg-4
          .service-two__card.mt-4
            .service-two__card-image
              img(src='/images/landing/cards/1.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              .service-two__card-icon
                img#iconCard(src="/images/landing/cards/icon1.png" alt="")
              // /.service-two__card-icon
              h3
                a(href='javascript:void(0)') SUELOS AGRÍCOLAS
              p Análisis químico completo de nutrientes disponibles con  aniones y cationes en fase soluble.
              strong 31 parámetros en 8 días hábiles

            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-4
          .service-two__card.mt-4
            .service-two__card-image
              img(src='/images/landing/cards/2.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              .service-two__card-icon
                img#iconCard(src="/images/landing/cards/icon2.png" alt="")
              // /.service-two__card-icon
              h3
                a(href='javascript:void(0)') TEJIDO VEGETAL
              p Análisis en hojas y peciolos para conocer el estado nutricional de un cultivo.
              strong 11 parámetros en 8 días hábiles

            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-4
          .service-two__card.mt-4
            .service-two__card-image
              img(src='/images/landing/cards/3.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              .service-two__card-icon
                img#iconCard(src="/images/landing/cards/icon3.png" alt="")
              // /.service-two__card-icon
              h3
                a(href='javascript:void(0)') AGUA PARA RIEGO
              p Caracterización fisicoquímica de la calidad del agua usada para riego.
              strong 20 parámetros en 8 días hábiles

            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-4
          .service-two__card.mt-4
            .service-two__card-image
              img(src='/images/landing/cards/4.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              .service-two__card-icon
                img#iconCard(src="/images/landing/cards/icon4.png" alt="")
              // /.service-two__card-icon
              h3
                a(href='javascript:void(0)') ABONOS ORGÁNICOS
              p Reconocido por el ICA como Laboratorio de Control de Calidad de Fertilizantes y Acondicionadores de Suelos de Uso Agricola.
              strong 15 días hábiles
            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-4
          .service-two__card.mt-4
            .service-two__card-image
              img(src='/images/landing/cards/5.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              .service-two__card-icon
                img#iconCard(src="/images/landing/cards/icon5.png" alt="")
              // /.service-two__card-icon
              h3
                a(href='javascript:void(0)') MICROBIOLOGÍA Y DIAGNÓSTICO FITOSANITARIO

              p.mb-2 Análisis microbiológico en suelo y agua. Cumple para GLOBAL GAP* Fitopatología en tejido vegetal y suelo*.
              p(style="line-height: 1;font-size: 0.75em;") *En alianza con laboratorios acreditados y/o reconocidos.

            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-4
          .service-two__card.mt-4
            .service-two__card-image
              img(src='/images/landing/cards/6.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              .service-two__card-icon
                img#iconCard(src="/images/landing/cards/icon6.png" alt="")
              // /.service-two__card-icon
              h3
                a(href='javascript:void(0)')  TOMA DE MUESTRAS Y MEDICIONES EN CAMPO
              p Muestreos en suelo, agua y tejido vegetal.
            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
      // /.row
    // /.container
  // /.service-two
  section.service-two.service-two__home-two#matrix
    .service-two__bottom-curv
    // /.service-two__bottom-curv
    .container
      .block-title.text-center
        h3 CONOCE  MÁS NUESTROS SERVICIOS
      // /.block-title
      .row
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/1.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              h3
                a(href='/servicios?index=0') ANÁLISIS EN SUELOS CON FINES AGRÍCOLAS
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Fisicoquímico
                li(type="disc") Microbiológico*
                li(type="disc") Diagnóstico Fitosanitario*
                li(type="disc") Metales Pesados*
                li(type="disc") Trazas de pesticidas*

            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/2.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              h3
                a(href='/servicios?index=2') ANÁLISIS EN AGUAS
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Calidad de agua para riego y para certificación de predios agrícolas.
                li(type="disc") Caracterización con fines ambientales*
                li(type="disc") Trazas de pesticidas*
            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/3.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              h3
                a(href='/servicios?index=1') ANÁLISIS EN TEJIDO VEGETAL
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Fisicoquímico.
                li(type="disc") Diagnóstico Fitosanitario*
                li(type="disc") Bromatología*                 
            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/4.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              h3
                a(href='/servicios?index=3') ANÁLISIS EN ABONOS ORGÁNICOS Y FERTILIZANTES
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Caracterización Fisicoquímica.
                li(type="disc") Microbiología*
                li(type="disc") Metales pesados*
            // /.service-two__card-content
          // /.service-two__card
        // /.col-sm-12 col-md-6 col-lg-3
      // /.row
    // /.container
  // /.service-two