extends ../layouts/landing.pug
block content
  section.main-slider
    .swiper-container.thm-swiper__slider(data-swiper-options='{\
    "slidesPerView": 1,\
    "loop": true,\
    "effect": "fade",\
    "autoplay": {\
    "delay": 10000\
    },\
    "navigation": {\
    "nextEl": "#main-slider__swiper-button-next",\
    "prevEl": "#main-slider__swiper-button-prev"\
    }\
    }')
      .swiper-wrapper
        .swiper-slide
          .image-layer(style='background-image: url(/images/landing/carousel/2.webp);')
          .container.h-80
            .row
              .col-xl-7.col-lg-7
                span.mb-3.tagline Bienvenidos!
                br
                h2
                  span AGROLAB
                p
                  | Laboratorio de Análisis para el sector Agropecuario y Ambiental.
        .swiper-slide
          .image-layer(style='background-image: url(/images/landing/carousel/3.webp);')
          // /.image-layer
          .container.h-80
            .row
              .col-xl-7.col-lg-7
                span.tagline Calidad, compromiso 
                  br
                  | &amp; sostenibilidad ambiental
                h2
                  span AGROLAB
                p
                  | Apoyamos el sector productivo agrícola para hacerlo más competitivo.
      .main-slider__nav
        #main-slider__swiper-button-next.swiper-button-prev
          i.agrikon-icon-left-arrow
        #main-slider__swiper-button-prev.swiper-button-next
          i.agrikon-icon-right-arrow
  //- section.service-one.mb-0
  section.about-one#aboutUs
    img.about-one__bg-shape-1(src='/images/icons/about-bg-icon-1-1.png' alt='')
    .container
      .row
        .col-lg-5
          .about-one__images
            img(src='/images/landing/welcome/1.webp' style="max-height:800px" alt='')
        .col-lg-7
          .about-one__content
            .block-title.text-left
              .block-title__image
              h3
                | CIENCIA Y TECNOLOGÍA
                | DIRIGIDA AL CAMPO
            // /.block-title
            .about-one__tagline
              p Empresa peruana con 10 años de experiencia y fortalecimiento al sector agrícola
            // /.about-one__tagline
            .about-one__summery
              p En Agrolab generamos condiciones y mejores oportunidades para el productor agrícola a través del acceso más ágil y eficiente a los servicios de análisis fisicoquímicos y microbiológicos de suelos, tejido vegetal y agua para riego.
            // /.about-one__summery
            .about-one__icon-row
              .row
                .col-lg-6
                  .about-one__box
                    img(src='/images/landing/welcome/partner.png', height='60' width='60' alt="")
                    h4
                      a(href='javascript:void(0)')
                        | Análisi de 
                        | muestras
                .col-lg-6
                  .about-one__box
                    img(src='/images/landing/welcome/impartial.png', height='60' width='60' alt="")
                    h4
                      a(href='javascript:void(0)')
                        | Transparencia 
                        | y efectividad
            a.thm-btn(href='#matrix') Descubre más
  // /.service-two
  section.service-two.service-two__home-two#matrix
    .service-two__bottom-curv
    // /.service-two__bottom-curv
    .container
      .block-title.text-center
        h3 CONOCE NUESTROS SERVICIOS
      // /.block-title
      .row
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/1.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              h3
                a ANÁLISIS EN SUELOS
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Fisicoquímico
                li(type="disc") Microbiológico*
                li(type="disc") Diagnóstico Fitosanitario*
                li(type="disc") Metales Pesados*
                li(type="disc") Trazas de pesticidas*
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/2.webp' alt='')
            .service-two__card-content
              h3
                a ANÁLISIS EN AGUAS
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Calidad de agua para riego y para certificación de predios agrícolas.
                li(type="disc") Caracterización con fines ambientales*
                li(type="disc") Trazas de pesticidas*
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/3.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              h3
                a ANÁLISIS EN TEJIDO VEGETAL
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Fisicoquímico.
                li(type="disc") Diagnóstico Fitosanitario*
                li(type="disc") Bromatología*                 
        .col-sm-12.col-md-6.col-lg-3
          .service-two__card
            .service-two__card-image
              img(src='/images/landing/services/4.webp' alt='')
            // /.service-two__card-image
            .service-two__card-content
              h3
                a ANÁLISIS EN ABONOS ORGÁNICOS Y FERTILIZANTES
              ul.pl-1(style="line-height: 1.5;") 
                li(type="disc") Caracterización Fisicoquímica.
                li(type="disc") Microbiología*
                li(type="disc") Metales pesados*