doctype html
head
  include ../partials/title-meta
  // DataTables
  link(href='/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css', rel='stylesheet', type='text/css')
  // Responsive datatable examples
  link(href='/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css', rel='stylesheet', type='text/css')
  // Bootstrap Css
  link#bootstrap-style(href='/css/bootstrap.css', rel='stylesheet', type='text/css')
  link(rel='stylesheet' href='/css/landing/animate.min.css' type='text/css')
  // Icons Css
  link(rel='stylesheet' href='/css/icons.css' type='text/css')
  // App Css
  link#app-style(href='/css/app.css', rel='stylesheet', type='text/css')

  body
    include ../partials/loader
    header
      include ../partials/horizontal
    block content

    include ../partials/flash

    // include ../partials/footer
    //- include ../partials/right-sidebar
include ../partials/vendor-scripts
// Required datatable js
script(src='/libs/datatables.net/js/jquery.dataTables.min.js')
script(src='/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
// Responsive examples
script(src='/libs/datatables.net-responsive/js/dataTables.responsive.min.js')
script(src='/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')
script(src='/libs/parsleyjs/parsley.min.js')
script(src='/libs/parsleyjs/i18n/es.js')
script(src='/js/pages/form-validation.init.js')
script(src='/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js')
script(src='/js/app.js')
script(src='/js/plugins/sweetalert2.all.min.js')
link(href='/css/select2.min.css' rel='stylesheet' type='text/css')
script(src='/js/pages/select2/select2.full.min.js')
script(src='/js/pages/select2/i18n/es.js')
//axios
script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
//vue
script(src="https://unpkg.com/vue@next")
script(src='/js/vue.js')
script(src='/js/main.js')